@tailwind base;
@tailwind components;
@tailwind utilities;

/* todo: to relook into dark/light theme */

:root {
  --background: #0a0a0a;
  --foreground: #fffade;
  --primary: #2d0c48;
  --secondary: #dcb0f9;
  --mainAccent: #00c9b1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
} */

@keyframes gradientSlide {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient-tl-br {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

body {
  margin: 0;
  height: 100vh;
  color: var(--foreground);
  background-color: var(--background);
  background-image: radial-gradient(
      at 87% 72%,
      rgba(45, 12, 72, 0.334) 0px,
      transparent 50%
    ),
    radial-gradient(at 17% 23%, rgba(26, 2, 47, 0.779) 0px, transparent 50%);
  background-size: 400% 400%; /* Increase the size for a smoother transition */
  animation: gradientSlide 10s ease infinite; /* 10 seconds duration, ease for smooth transition */
  font-family: Arial, Helvetica, sans-serif;
}

.animate-text-gradient {
  background: linear-gradient(135deg, #fffade, #dcb0f9, #fffade);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-tl-br 8s ease infinite;
}
